<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>mrMDB - Meta Rotten Movie Data Base - Get metacritic, rottentomatoes and imdb scores in one place</title>

    <link rel="stylesheet" href="jspm_packages/github/twbs/bootstrap@3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="jspm_packages/github/twbs/bootstrap@3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="dist/styles.css">

</head>


<body>

    <div class="container content" ng-app="app">
      <div class="row top-header text-center"><h1>mrMDB</h1></div>

        <div class="row" ng-controller="moviesController as movies">
<div class="col-md-6 col-md-offset-3">
            <form class="search-input input-group" ng-submit="movies.getMovieList(movies.searchValue)">
                <input type="text" class="search-query form-control" placeholder="Search movie titles..." ng-model="movies.searchValue">
                <span class="input-group-btn">
                      <button class="btn btn-danger" type="submit">
                      <span class=" glyphicon glyphicon-search"></span>
                </button>
                </span>

            </form>
              <div class="movie-message"><strong>{{ movies.message | uppercase }}</strong></div>
            <ul class="movie-list col-md-10 col-md-offset-1">

                <li class="movie-list-item" ng-repeat="movie in movies.movies.Search" ng-click="movies.getMovieInfo(movie.imdbID)">
                    <strong>{{ movie.Title }}</strong><span> ({{ movie.Year }})</span><span class="glyphicon glyphicon-chevron-right list-arrow"></span>
                </li>
            </ul>

</div>
        </div>


        <script src="jspm_packages/system.js"></script>
        <script src="config.js"></script>
        <script>
            System.import('app/main.js');
        </script>

</body>

</html>
