.movie-list-section {
    width: 70%;
    margin: 0 auto;
}

.movie-list {
    padding-top: 10px;
}
.list-arrow {
    float: right;
}
.list-item-content {
    display: inline-block;
    width: 90%;
}
.movies-list {
    min-height: 400px;
}
