$logo-color: #d9a407;


.content {
    background-color: white;
    min-height: 100vh;
    box-shadow: 0 0 10px #888888;
    padding: 0;
}
.title-logo {
    border: 2px solid $logo-color;
    border-radius: 3px;
    box-shadow: 0 0 5px $logo-color;
}
.top-header {
    background: linear-gradient(#2f2f2f, #403e3e);
    width: 100%;
    height: 120px;
    margin: 0 auto 20px;
    color: white;
}
.search-form {
    margin: 40px 0;
}
.movie-message {
    margin-bottom: 20px;
}
.movie-list {
    padding-top: 10px;
}
.movie-list-item {
    margin-bottom: 5px;
    padding: 10px;
    background: #eeeeee;
    list-style-type: none;
}
.movie-list-item:hover {
    background: #d5d3d3;
    cursor: pointer;
}
.list-arrow {
    float: right;
}
.list-item-content {
    display: inline-block;
    width: 90%;
}
