$logo-color1: #ed6519;
$logo-color2: #f68b4f;

html, body {
  font-family: arial;
}


a:hover {
  text-decoration: none;
  color: #123b88;
}

.content {
    background-color: white;
    min-height: 100vh;
    box-shadow: 0 0 10px #888888;
    padding: 0;
}

.title-logo {
    width: 160px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 5px $logo-color1;
    background: linear-gradient(to right, $logo-color1, $logo-color2, $logo-color1);
}

.title-logo:hover {
  cursor: pointer;
  opacity: 0.95;

}



.top-header {
    background: linear-gradient(#2f2f2f, #403e3e);
    width: 100%;
    height: 120px;
    margin: 0 auto 0;
    color: white;
}
.search-form {
    margin: 40px 0 0 0;
}
.movie-message {
    margin-bottom: 20px;
}
.movie-list {
    padding-top: 10px;
}
.movie-list-item {
    margin-bottom: 5px;
    padding: 10px;
    background: #eeeeee;
    list-style-type: none;
}
.movie-list-item:hover {
    background: #d5d3d3;
    cursor: pointer;
}
.list-arrow {
    float: right;
}
.list-item-content {
    display: inline-block;
    width: 90%;
}

.movies-list {
  min-height: 400px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  padding-bottom: 20px;
}

.plot-section {
  margin-bottom: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.large-font-3 {
  font-size: 3em;
}

.large-font-1-5 {
  font-size: 1.5em;
}

.imdb-logo {
  margin-right: 10px;
  margin-bottom: 7px;
}
.imdb-rating-label {
 font-size: 1.1em;
}


.rotten-tomatoes-logo {
  margin-bottom: 15px;
  margin-right: 10px;
}

.imdb-section {
  border-right: 1px solid #888888;
}

.rotten-section {
  margin-bottom: 50px;
}

.movie-type-details {
  margin-top: 50px;
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .imdb-section {
    border-right: 1px solid #888888;
    border-left: 1px solid #888888;
  }

  .rotten-section {
    margin-bottom: 0;
  }

}

@media screen and (min-width: 992px) {
  .movie-type-details {
    margin-top: 0;

  }
}

#loading-bar .bar {
  position: relative;
  background-color: $logo-color1;
  height: 3px;
}

.load-icon {
  height: 3px;
}



#loading-bar-spinner {
  position: relative;
  left: 95%;
}

#loading-bar-spinner .spinner-icon {
  border-top-color:  $logo-color1;
  border-left-color: $logo-color1;
  }


.fade-effect.ng-hide-add {
    transition: 0.1s linear opacity;
    opacity: 1;
}
.fade-effect.ng-hide-add-active {
    opacity: 0;
}
.fade-effect.ng-hide-remove {
    transition: 0.1s linear opacity;
    opacity: 0;
}
.fade-effect.ng-hide-remove-active {
    opacity: 1;
}
