<div class="row margin-bottom-20">

    <div class="col-xs-10 col-xs-offset-1 text-center margin-bottom-20"><span class="h1">{{ movieData.data.Title }}</span><span class="h5"> ({{ movieData.data.Year}})</span></div>

    <div class="margin-top-20 col-xs-10 col-xs-offset-1 well">
        <div class="col-sm-6 text-center rotten-section">

            <div class="tomato-score col-md-4">
                <a target="_blank" href="http://www.rottentomatoes.com"><img class="rotten-tomatoes-logo" src="dist/assets/rotten-tomatoes-logo.png" width="80"></a>

                <a target="_blank" href="{{ movieData.data.tomatoURL }}"><span class="large-font-3">{{ movieData.data.tomatoMeter}}% </span> <br> ({{ movieData.data.tomatoReviews }} critic reviews)</a></div>



            <div class="text-left rotten-consensus col-md-7"><strong>Critics Consensus: </strong>{{ movieData.data.tomatoConsensus}}</div>

        </div>

        <div class="col-sm-4 col-xs-6 imdb-section">
            <div class="text-center">
                <a target="_blank" href="http//www.imdb.com"><img class="imdb-logo" src="dist/assets/imdb-logo.png" width="60"></a>
                <br>

                <div class="imdb-rating"><a target="_blank" href="http://www.imdb.com/title/{{ movieData.data.imdbID }}"><span class="large-font-3 score">{{ movieData.data.imdbRating}}</span>/10 <br><small>({{ movieData.data.imdbVotes}} votes)</small></a></div>

                <p class="large-font-1-5">Metascore: <a target="_blank" href="http://www.imdb.com/title/{{ movieData.data.imdbID }}/criticreviews">{{ movieData.data.Metascore}}</a></p>
            </div>

        </div>



        <div class="col-sm-2 col-xs-6 text-center">
            <a target="_blank" href="http://www.boxofficemojo.com"><img src="dist/assets/boxofficemojo-logo.png" width="40"></a>
            <br><a target="_blank" href="http://www.boxofficemojo.com/search/?q={{ movieData.data.Title }}"><strong>Quick Link</strong></a>
            <br>
            <br>
            <a target="_blank" href="https://www.wikipedia.com"><img src="dist/assets/wiki-logo.png" width="40"></a>
            <br><a target="_blank" href="https://en.wikipedia.org/wiki/Special:Search/{{ movieData.data.Title }}"><strong>Quick Link</strong></a>
        </div>


    </div>
</div>

<div class="row">
    <h3 class="col-xs-10 col-xs-offset-1">Movie Info</h3>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="col-md-7 movie-details">
                <div class="plot-section">
                    <h4>Plot:</h4> {{movieData.data.Plot}}</div>
                <div class="margin-bottom-10"><span class="h4">Directed By:</span> {{movieData.data.Director}}</div>
                <div class="margin-bottom-10"><span class="h4">Written By:</span> {{movieData.data.Writer}}</div>
                <div class="margin-bottom-10"><span class="h4">Actors:</span> {{movieData.data.Actors}}</p>
                </div>
            </div>

            <div class="col-xs-10 col-sm-8 col-md-4 col-md-offset-1 movie-type-details well well-lg">
                <div class="margin-bottom-10"><span class="h4">Country:</span> {{movieData.data.Country}}</div>
                <div class="margin-bottom-10"><span class="h4">Rated:</span> {{ movieData.data.Rated }}</div>
                <div class="margin-bottom-10"><span class="h4">Genre:</span> {{movieData.data.Genre}}</div>
                <div class="margin-bottom-10"><span class="h4">Language:</span> {{movieData.data.Language}}</div>
                <div class="margin-bottom-10"><span class="h4">Production:</span> {{movieData.data.Production}}</div>
                <div class="margin-bottom-10"><span class="h4">Runtime:</span> {{movieData.data.Runtime}}</div>
            </div>
        </div>

    </div>
    <br><br><br><br><br><br>
<hr>
    <footer class="col-xs-10 col-xs-offset-1"><small>IMDb, IMDb.COM, and the IMDb logo are trademarks of IMDb.com, Inc. or its affiliates.</small></footer>

</div>
