<div class="row margin-bottom-20">

    <div class="col-md-12 text-center margin-bottom-20"><span class="h2">{{ movieData.data.Title }}</span><span class="h5"> ({{ movieData.data.Year}})</span></div>
    <div class="col-md-10 col-md-offset-1">
      <h3 class="margin-bottom-20">Reviews</h3>

        <div class="col-md-4">
            <p>iMDB Rating: {{ movieData.data.imdbRating}} with {{ movieData.data.imdbVotes}} votes</p>
            <p>IMDB URL: <a target="_blank" href="http://www.imdb.com/title/{{ movieData.data.imdbID }}">Here</a></p>
            <p>Metascore: {{ movieData.data.Metascore}}</p>
            <p>MetaCritic Reviews URL: <a target="_blank" href="http://www.imdb.com/title/{{ movieData.data.imdbID }}/criticreviews">Here</a></p>

        </div>

        <div class="col-md-4">
            <p>RottenTomatoes Score: {{ movieData.data.tomatoMeter}}% with {{ movieData.data.tomatoReviews }} critic reviews</p>
            <p>RottenTomatoes Consensus: {{ movieData.data.tomatoConsensus}}</p>
            <p>RottenTomatoes URL: <a target="_blank" href="{{ movieData.data.tomatoURL }}">Here</a></p>
        </div>

        <div class="col-md-4">
          <p>BoxofficeMojo URL: <a target="_blank" href="http://www.boxofficemojo.com/search/?q={{ movieData.data.Title }}">Here</a></p>

            <p>Wikipedia Quick Search: <a target="_blank" href="https://en.wikipedia.org/wiki/Special:Search/{{ movieData.data.Title }}">Here</a></p>
        </div>

    </div>
</div>

<div class="row">
    <h3 class="col-md-10 col-md-offset-1">Movie Info</h3>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6">
                <div class="plot-section">
                    <h4>Plot:</h4> {{movieData.data.Plot}}</div>
                <div class="margin-bottom-10"><span class="h4">Directed By:</span> {{movieData.data.Director}}</div>
                <div class="margin-bottom-10"><span class="h4">Written By:</span> {{movieData.data.Writer}}</div>
                <div class="margin-bottom-10"><span class="h4">Actors:</span> {{movieData.data.Actors}}</p>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="margin-bottom-10"><span class="h4">Country:</span> {{movieData.data.Country}}</div>
                <div class="margin-bottom-10"><span class="h4">Rated:</span> {{ movieData.data.Rated }}</div>
                <div class="margin-bottom-10"><span class="h4">Genre:</span> {{movieData.data.Genre}}</div>
                <div class="margin-bottom-10"><span class="h4">Language:</span> {{movieData.data.Language}}</div>
                <div class="margin-bottom-10"><span class="h4">Production:</span> {{movieData.data.Production}}</div>
                <div class="margin-bottom-10"><span class="h4">Runtime:</span> {{movieData.data.Runtime}}</div>
            </div>
        </div>
    </div>
</div>
