<div class="row movie-list-section">



    <div class="text-right">
        <button ng-show="movies.movies.length > 0" class="btn btn-link btn-xs" ng-click="movies.previousPage()"><span class="glyphicon glyphicon-chevron-left"></button>
            <span ng-show="movies.totalPages">{{ movies.currentPage }} of {{ movies.totalPages }}</span>
            <button ng-show="movies.movies.length > 0" class="btn btn-link btn-xs" ng-click="movies.nextPage()"><span class="glyphicon glyphicon-chevron-right"></button>
        </div>

        <div class=" list-group center-block movies-list fade-effect" ng-show="movies.movies.length > 0">
            <a class="list-group-item " ng-repeat="movie in movies.movies" ui-sref="movieData({movieID: movie.imdbID})">
                <div class="list-item-content text-info"><strong>{{ movie.Title }}</strong> (<span>{{ movie.Year }}</span><span class="text-capitalize" ng-if="movie.Type !== 'movie'"> {{ movie.Type }}</span>)</div>
    <div class="list-arrow"><span class="glyphicon glyphicon-chevron-right"></span></div>
    </a>
</div>



</div>
